{% extends 'base.html' %}
{% load static %}

{% block title %}Mythic Quest - Tavern{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/tavern/tavern-background-image2.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}

    <div class="tavern-main-container flex-column">
        <div class="card text-white dungeon-custom-header">
            <h4 class="card-header dungeon-custom-font home-header text-center">Tavern</h4>
        </div>

        <div class="tavern-buttons-main d-flex flex-row">
            <form method="post" action="{% url 'heal_for_10_percent' %}"
                  class="p-2 remove-padding text-white tavern-custom-bottom-top">
                {% csrf_token %}
                <button type="submit" class="m-2 tavern-heal-button">
                    Heal 10% <br>
                    Cost: {{ gold_costs.heal_10_percent }} gold
                </button>
            </form>
            <br>
            <form method="post" action="{% url 'heal_for_50_percent' %}"
                  class="p-2 remove-padding text-white tavern-custom-bottom-top">
                {% csrf_token %}
                <button type="submit" class="m-2 tavern-heal-button">
                    Heal 50% <br>
                    Cost: {{ gold_costs.heal_50_percent }} gold
                </button>
            </form>
            <br>
            <form method="post" action="{% url 'heal_for_100_percent' %}"
                  class="p-2 remove-padding text-white tavern-custom-bottom-top">
                {% csrf_token %}
                <button type="submit" class="m-2 tavern-heal-button">
                    Heal 100% <br>
                    Cost: {{ gold_costs.heal_100_percent }} gold
                </button>
            </form>


        </div>
        <a href="{% url 'index' %}" class="mb-2 pt-2 align-self-center">
            <button class="m-2 tavern-home-button">Back to Home</button>
        </a>

        <div class="tavern-tool-tip text-center">
            <div class="question-mark">?</div>
            <p class="tooltip-text">Each option heals the player by the percentage of their max health or fully restores
                their health instead.</p>
        </div>

        <div class="tavern-keeper-tip text-center">
            <div class="inn-keeper">!</div>
            <div class="inn-keeper-container">
                <div class="keeper-name">
                    Ivan
                </div>
                <img class="keeper-image" src="{% static 'img/in-keeper-tavern.png' %}" alt="in-keeper">
                <div class="keeper-short-bio">
                    Hello, my name is Ivan! I am here to heal you if you have the gold required. I will buy more
                    mruvka and pivo with your gold.
                </div>
            </div>
        </div>

        {# Error Messages #}
        {% if messages %}
            <ul class="messages bg-dark fade show list-unstyled h2 text-center">
                {% for message in messages %}
                    <li {% if message.tags %}
                        class="{{ message.tags }} tavern-error-message"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if messages %}
            <script>
                setTimeout(function () {
                    window.location.href = "{% url 'index' %}";
                }, 3000);
            </script>
        {% endif %}


    </div>
{% endblock %}