{% extends 'base.html' %}
{% load static %}

{% block title %}Mythic Quest - Tavern{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/tavern/tavern-background-image2.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}
    <a href="{% url 'index' %}" class="mb-4">
        <button class="m-2 tavern-home-button">Back to Home</button>
    </a>
    <br>
    {# Error Messages #}
    {% if messages %}
        <ul class="messages alert-warning alert-dismissible fade show">
            {% for message in messages %}
                <li {% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="tavern-buttons-main d-flex flex-row">
        <form method="post" action="{% url 'heal_for_10_percent' %}" class="p-2 text-white">
            {% csrf_token %}
            <button type="submit" class="m-2 tavern-heal-button">
                Heal 10% <br>
                Cost: {{ gold_costs.heal_10_percent }} gold
            </button>
        </form>
        <br>
        <form method="post" action="{% url 'heal_for_50_percent' %}" class="p-2 text-white">
            {% csrf_token %}
            <button type="submit" class="m-2 tavern-heal-button">
                Heal 50% <br>
                Cost: {{ gold_costs.heal_50_percent }} gold
            </button>
        </form>
        <br>
        <form method="post" action="{% url 'heal_for_100_percent' %}" class="p-2 text-white">
            {% csrf_token %}
            <button type="submit" class="m-2 tavern-heal-button">
                Heal 100% <br>
                Cost: {{ gold_costs.heal_100_percent }} gold
            </button>
        </form>
    </div>

{% endblock %}