{% extends 'base.html' %}

{% block title %}Mythic Quest - Tavern{% endblock %}

{% block main_content %}
    <a href="{% url 'index' %}" class="mb-4">
        <button class="btn btn-primary">Back to Home</button>
    </a>
    <br>
    {% if messages %}
        <ul class="messages alert-warning alert-dismissible fade show">
            {% for message in messages %}
                <li {% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <div class="tavern-buttons-main d-flex flex-row">

        <form method="post" action="{% url 'heal_for_10_percent' %}" class="p-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Heal 10%</button>
        </form>
        <br>
        <form method="post" action="{% url 'heal_for_50_percent' %}" class="p-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Heal 50%</button>
        </form>
        <br>
        <form method="post" action="{% url 'heal_for_100_percent' %}" class="p-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Heal 100%</button>
        </form>
    </div>
{% endblock %}