{% extends 'base.html' %}
{% load static %}


{% block title %}Mythic Quest - Contact Form{% endblock %}

{% block main_content %}
    <div class="contact-form-border">
        <div class="contact-container">
            <form action="https://api.web3forms.com/submit" method="post" class="contact-center">
                <div class="contact-title">
                    <h2>Get in touch</h2>
                    <hr>
                </div>
                <input type="hidden" name="access_key" value="a83b4459-ef3a-4f97-a17d-315a4c2bb764">

                {#                {# Anti-Spam #}
                <div class="h-captcha" data-captcha="true"></div>

                <div class="contact-form-content">
                    <div class="name-and-email">
                        <input type="text" name="name" placeholder="Your Name *" class="contact-inputs"
                               required>
                        <input type="email" name="email" placeholder="Your Email *" class="contact-inputs"
                               value="{{ user_email }}" required>

                        <button type="submit">Submit <img class="contact-arrow"
                                                          src="{% static 'img/right-arrow.png' %}">
                        </button>
                    </div>

                    <div class="text-area">
                        <textarea name="message" placeholder="Your Message *" class="contact-inputs"
                                  required></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://web3forms.com/client/script.js" async defer></script>
{% endblock %}
