{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mythic Quest - Home{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/home/home-background-image3.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}


    {% if character %}
        <div class="index-main-box">
            <div class="card bg-dark index-custom-main">
                <div class="card text-white index-custom-header">
                    <h4 class="card-header index-custom-font home-header">Your Character</h4>
                </div>
                <div class="card-body text-white index-custom-card-body">
                    <div class="character-info">
                        <div class="index-left">
                            <h5 class="index-character-nickname">{{ character.nickname }}</h5>
                            <img src="{% static character.image_path %}" alt="{{ character.nickname }} Image"
                                 class="img-fluid">

                            <div class="px-2 d-flex justify-content-between index-character-level">
                                <p>Level:</p>
                                <p>{{ character.level }}</p>
                            </div>
                            <div class="px-2 d-flex justify-content-between index-character-level">
                                <p>Rating:</p>
                                <p>{{ character_rating|get_character_rating }}</p>
                            </div>
                        </div>

                        {# Not enough health ERROR! #}
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}

                        <div class="index-right">
                            <div class="ml-auto ">
                                <a href="{% url 'dungeon' %}" class="">
                                    <button class="details-character-edit-button">Dungeon</button>
                                </a>
                                <a href="{% url 'tavern' %}">
                                    <button class=" details-character-edit-button">Tavern</button>
                                </a>
                                <a href="{% url 'items_potions' %}">
                                    <button class=" details-character-edit-button">Potions Shop</button>
                                </a>
                                <a href="{% url 'details_character' pk=character.id %}">
                                    <button class="details-character-edit-button">My Character</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="index-enemy-characters text-white d-flex justify-content-between flex-column align-items-center">

                {#  ---> Searchbar <--- #}
                <form method="GET" action="{% url 'index' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search by Nickname"
                           aria-label="Search"
                           name="character_nickname" value="">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul>
                    ENEMY CHARACTERS:
                    {% for enemy in enemy_characters %}
                        <li class="index-each-enemy">
                            Lvl{{ enemy.level }}:
                            <a href="{% url 'details_character' pk=enemy.id %}">{{ enemy.nickname }}</a> -
                            Rating: {{ enemy.rating|get_character_rating }}
                            <form action="{% url 'fight_character' pk=character.id pk2=enemy.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Fight</button>

                            </form>
                            <a href="{% url 'details_character' pk=enemy.id %}"
                               class="btn btn-primary">Details</a>
                        </li>
                    {% empty %}
                        <li>No characters found.</li>
                    {% endfor %}
                </ul>

                {# ---> Pagination <---- #}
                <nav aria-label="Page navigation example" class="d-flex mt-auto">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if enemy_characters.has_previous %}
                                <a class="page-link" href="?page={{ enemy_characters.previous_page_number }}"
                                   tabindex="-1">Previous</a>
                            {% endif %}
                        </li>
                        {% for page in paginator_object.page_range %}
                            {% if page == enemy_characters.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            {% if enemy_characters.has_next %}
                                <a class="page-link" href="?page={{ enemy_characters.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        {# TODO: Move this to another template and redirect there if no characters #}
    {% else %}
        <h4 class="card-header index-custom-font home-header">Welcome to Mythic Quest</h4>
        <div class="card-body text-white index-custom-card-body">
            <h5 class="card-title">Create Your Character</h5>
            <p class="card-text">You haven't created a character yet. Create one now to start your
                adventure!</p>
            <a href="{% url 'create_character' %}" class="btn btn-block mt-3 custom-button">Create
                Character</a>
        </div>
        <div class="index-enemy-characters text-white">
            <ul>
                ENEMY CHARACTERS:
                {% for character in all_characters %}
                    <li class="index-each-enemy">
                        Lvl{{ character.level }}: {{ character.nickname }} -
                        Rating: {{ character.rating|floatformat:0 }}
                        <a href="{% url 'details_character' pk=character.id %}"
                           class="btn btn-primary">Details</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {# Pagination links #}


{% endblock %}