{% extends 'base.html' %}

{% load static %}

{% block title %}Mythic Quest - Home (Not Signed In){% endblock %}

{% block main_content %}

    {# TODO: Move this to another template and redirect there if no characters #}
    <h4 class="card-header index-custom-font home-header">Welcome to Mythic Quest</h4>
    <div class="card-body text-white index-custom-card-body">
        <h5 class="card-title">Create Your Character</h5>
        <p class="card-text">You either haven't signed in/up or you haven't created a character yet.<br>Sign in/up or
            create a character now to start your
            adventure!</p>
        <a href="{% url 'signin' %}" class="btn btn-block mt-3 custom-button">Sign In</a>
        <a href="{% url 'signup' %}" class="btn btn-block mt-3 custom-button">Sign Up</a>
        <a href="{% url 'create_character' %}" class="btn btn-block mt-3 custom-button">Create
            Character</a>
    </div>

    <div class="index-enemy-characters text-white">
        <ul>
            ENEMY CHARACTERS:
            {% for character in all_characters %}
                <li class="index-each-enemy">
                    Lvl{{ character.level }}: {{ character.nickname }} - Rating: {{ character.rating|floatformat:0 }}
                    <a href="{% url 'details_character' pk=character.id %}"
                       class="btn btn-primary">Details</a>
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}