{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mythic Quest - Home{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/home/home-background-image3.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}


    {% if character %}
        <div class="index-main-box">
            <div class="card bg-dark index-custom-main">
                <div class="card text-white index-custom-header">
                    <h4 class="card-header index-custom-font home-header">Your Character</h4>
                </div>
                <div class="card-body text-white index-custom-card-body">
                    <div class="character-info">
                        <div class="index-left">
                            <h5 class="index-character-nickname">{{ character.nickname }}</h5>
                            <img src="{% static character.image_path %}" alt="{{ character.nickname }} Image"
                                 class="img-fluid">

                            <div class="px-2 d-flex justify-content-between index-character-level">
                                <p>Level:</p>
                                <p>{{ character.level }}</p>
                            </div>
                            <div class="px-2 d-flex justify-content-between index-character-level make-smaller-text">
                                <p>Rating:</p>
                                <p>{{ character_rating|get_character_rating }}</p>
                            </div>
                        </div>

                        {# Not enough health ERROR! #}
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}

                        <div class="index-right">
                            <a href="{% url 'details_character' pk=character.id %}" class="no-text-decor">
                                <button class="idx-character-button" id="mc-button">My Character</button>
                                <button class="idx-character-button hidden-class no-text-decor">MC</button>
                            </a>
                            <a href="{% url 'dungeon' %}" class="no-text-decor">
                                <button class="idx-character-button">Dungeon</button>
                                <button class="idx-character-button hidden-class no-text-decor">D</button>
                            </a>
                            <a href="{% url 'tavern' %}" class="no-text-decor">
                                <button class="idx-character-button">Tavern</button>
                                <button class="idx-character-button hidden-class">T</button>
                            </a>
                            <a href="{% url 'items_potions' %}" class="no-text-decor">
                                <button class="idx-character-button">Potions Shop</button>
                                <button class="idx-character-button hidden-class no-text-decor">PS</button>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

            <div class="index-enemy-characters text-white d-flex justify-content-between flex-column align-items-center">

                <div class="index-rankings">
                    <div class="card text-white index-custom-header">
                        <h4 class="card-header index-custom-font home-header">Rankings</h4>
                    </div>

                    <div class="index-content-enemies">
                        {#  ---> Searchbar <--- #}
                        <form method="GET" action="{% url 'index' %}" class="form-inline my-2 my-lg-0 underline-border">
                            <input class="form-control mr-sm-2 index-searchbar" type="search"
                                   placeholder="Search by Nickname"
                                   aria-label="Search"
                                   name="character_nickname" value="">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>


                        <ul class="m-0 p-0 pt-4 d-flex flex-column gap-1 w-100 align-self-center">
                            {% for enemy in enemy_characters %}
                                <li class="index-each-enemy">
                                    <span class="neshtosi2"> Lvl{{ enemy.level }}:</span>
                                    <span><a
                                            href="{% url 'details_character' pk=enemy.id %}">{{ enemy.nickname }}</a></span>
                                    <span>-</span>
                                    <span>Rating: {{ enemy.rating|get_character_rating }}</span>

                                    <div class="idx-fight-and-details-btns">
                                        <form action="{% url 'fight_character' pk=character.id pk2=enemy.id %}"
                                              method="post"
                                              class="neshtosi">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="btn idx-char-details-btn btn-on-click-custom">Fight
                                            </button>
                                        </form>
                                        <form action="{% url 'fight_character' pk=character.id pk2=enemy.id %}"
                                              method="post"
                                              class="hidden-class">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="btn idx-char-details-btn neshtosi3 btn-on-click-custom">F
                                            </button>
                                        </form>
                                        <a href="{% url 'details_character' pk=enemy.id %}">
                                            <button class="btn idx-char-details-btn neshtosi btn-on-click-custom">
                                                Details
                                            </button>
                                        </a>
                                        <a href="{% url 'details_character' pk=enemy.id %}"
                                           class="btn idx-char-details-btn hidden-class btn-on-click-custom">D</a>
                                    </div>

                                </li>
                            {% empty %}
                                <li>No characters found.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {# ---> Pagination <---- #}
                <nav aria-label="Page navigation example" class="d-flex mt-5">
                    <ul class="pagination justify-content-center aaa">
                        <li class="page-item">
                            {% if enemy_characters.has_previous %}
                                <a class="page-link" href="?page={{ enemy_characters.previous_page_number }}"
                                   tabindex="-1">Previous</a>
                            {% endif %}
                        </li>
                        {% for page in paginator_object.page_range %}
                            {% if page == enemy_characters.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            {% if enemy_characters.has_next %}
                                <a class="page-link " href="?page={{ enemy_characters.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        {# TODO: Move this to another template and redirect there if no characters #}
    {% else %}
        <div class="index-border-no-char">
            <div class="title-index-no-char">
                <h2 class="card-header index-custom-font home-header text-white">Welcome to Mythic Quest</h2>
            </div>
            <div class="card-body text-white index-custom-card-body index-create-char-new-background">
                <h5 class="card-title">Create Your Character</h5>
                <p class="card-text">You haven't created a character yet. Create one now to start your
                    adventure!</p>
                <a href="{% url 'create_character' %}" class="btn btn-block mt-3 custom-button">Create
                    Character</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
