{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mythic Quest - Home Public{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/home/home-background-image3.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="index-without-character-main">
        <div class="title-index-no-char index-no-chars-custom-header">
            <h4 class="card-header index-custom-font home-header text-white">Welcome to Mythic Quest</h4>
        </div>
        <div class="idx-no-char-items">

            <div class="card-body text-white index-custom-card-body-no-char">
                <h5 class="card-title mb-0 text-center">Create Your Character</h5>
                <p class="idx-no-char-p">You either haven't signed in/up or you haven't created a character yet.<br>Sign
                    in/up
                    or
                    create a character now to start your
                    adventure!</p>
                <div class="no-char-btn-container">
                    <a href="{% url 'signin' %}" class="index-no-char-btn custom-button">Sign In</a>
                    <a href="{% url 'signup' %}" class="index-no-char-btn custom-button">Sign Up</a>
                    <a href="{% url 'create_character' %}" class="index-no-char-btn custom-button">Create
                        Character</a>
                </div>
            </div>

            <div class="index-enemy-characters-no-char text-white d-flex justify-content-between
            flex-column align-items-center card-body">

                {#  ---> Searchbar <--- #}
                <form method="GET" action="{% url 'index-without-character' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search by Nickname"
                           aria-label="Search"
                           name="character_nickname" value="">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

                <ul class="m-0 p-0 d-flex flex-column gap-1 w-100">
                    All CHARACTERS:
                    {% for character in all_characters %}
                        <li class="index-each-enemy-no-char">
                            <span>Lvl{{ character.level }}:</span>
                            <span>{{ character.nickname }}</span>
                            <span>-</span>
                            <span>Rating: {{ character.rating|get_character_rating }}</span>
                            <a href="{% url 'public_details_character' pk=character.id %}"
                               class="btn btn-primary">Details</a>
                        </li>
                    {% empty %}
                        <li>No characters found.</li>
                    {% endfor %}
                </ul>

                {# ---> Pagination <---- #}
                <nav aria-label="Page navigation example" class="d-flex mt-auto">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            {% if all_characters.has_previous %}
                                <a class="page-link" href="?page={{ all_characters.previous_page_number }}"
                                   tabindex="-1">Previous</a>
                            {% endif %}
                        </li>
                        {% for page in paginator_object.page_range %}
                            {% if page == all_characters.number %}
                                <li class="page-item active"><a class="page-link"
                                                                href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            {% if all_characters.has_next %}
                                <a class="page-link" href="?page={{ all_characters.next_page_number }}">Next</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
{% endblock %}