{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mythic Quest - Monster Fight{% endblock %}

{% block main_content %}

    <div class="monster-fight-main-box">
        <div class="card bg-dark monster-fight-custom-main">
            <div class="card text-white monster-fight-custom-header">
                <h4 class="card-header monster-fight-custom-font home-header">Dungeon Fight</h4>
            </div>
            <div class="card-body text-white monster-fight-custom-card-body">
                <div class="monster-info">
                    <div class="monster-fight-left">
                        <h5 class="monster-fight-monster-nickname">{{ character.nickname }}</h5>
                        <img src="{% static character.image_path %}" alt="{{ character.nickname }} Image"
                             class="img-fluid">

                        <div class="px-2 d-flex justify-content-between monster-fight-monster-level">
                            <p>Level:</p>
                            <p>{{ character.level }}</p>
                        </div>
                        <div class="px-2 d-flex justify-content-between monster-fight-monster-level">
                            <p>Rating:</p>
                            <p>{{ character.rating|get_character_rating }}</p>
                        </div>
                    </div>

                    <div class="monster-fight-center">
                        <div class="ml-auto ">
                            {% if winner == character %}
                                <p>Winner: {{ winner }}!<br>
                                    Gold Gained: {{ gained_gold|floatformat:0 }}<br>
                                    Exp Won: {{ gained_exp|floatformat:0 }}<br>
                                    DMG Taken: {{ damage_taken|floatformat:0 }}<br>
                                    Win Chance: {{ win_chance|floatformat:2 }}%
                                </p>
                            {% else %}
                                <p>Winner: {{ winner }}!<br>
                                    Gold/Exp Won: 0<br>
                                    DMG Taken: {{ damage_taken|floatformat:0 }}<br>
                                    Win Chance: {{ win_chance|floatformat:2 }}%
                                </p>
                            {% endif %}

                            <a href="{% url 'dungeon' %}" class="mb-2">
                                <button class="monster-fight-edit-button">Dungeon</button>
                            </a>
                            <a href="{% url 'tavern' %}" class="mb-2">
                                <button class=" monster-fight-edit-button">Tavern</button>
                            </a>
                            <a href="{% url 'items_potions' %}" class="mb-2">
                                <button class="monster-fight-edit-button">Potions Shop</button>
                            </a>
                            <a href="{% url 'index' %}" class="mb-2">
                                <button class="details-monster-edit-button">Back to Home</button>
                            </a>
                        </div>
                    </div>

                    <div class="monster-fight-left">
                        <h5 class="monster-fight-monster-nickname">{{ monster.name }}</h5>
                        <img src="{% static monster.image_path %}" alt="{{ monster.nickname }} Image"
                             class="img-fluid">

                        <div class="px-2 d-flex justify-content-between monster-fight-monster-level">
                            <p>Level:</p>
                            <p>{{ monster.level }}</p>
                        </div>
                        <div class="px-2 d-flex justify-content-between monster-fight-monster-level">
                            <p>Rating:</p>
                            <p>{{ monster.rating|get_character_rating }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}