<footer class="border-top footer-container">
    <div class="d-flex align-items-center">
        <a href="/" class="text-muted text-decoration-none">
            {#            <svg class="footer-svg">#}
            {#                <use xlink:href="#bootstrap"></use>#}
            {#            </svg>#}
        </a>
        <span class="text-white">© 2024 Mythic Quest</span>

        {% if user.is_authenticated %}
            <div style="color: white; margin-left: 100px">LOGGED IN!!!</div>
        {% endif %}
    </div>
</footer>

