<footer class="footer-container">
    <div class="d-flex align-items-center">
        <a href="/" class="text-muted text-decoration-none">
        </a>
        <span class="text-white">© 2024 Mythic Quest</span>

        {% if user.is_authenticated %}
            <a href="{% url 'contact-form' %}" class="contact-link">Contact us</a>

            <a href="{% url 'earn_gold_by_clicking' %}" class="pl-5 text-white">Earn Extra Gold!</a>
        {% endif %}

        {#        {% if user.is_authenticated %}#}
        {#            <div style="color: white; margin-left: 100px">LOGGED IN!!!</div>#}
        {#        {% endif %}#}
    </div>
</footer>

