{% extends 'base.html' %}

{% block title %}Mythic Quest - Confirm Profile Delete{% endblock %}

{% block main_content %}
    <div class="confirm-delete-main-container">

        <div class="text-white w-100 confirm-prof-delete-title">
            <h3 class="custom-font signin-h3">Confirm to Delete</h3>
        </div>

        <div class="confirm-delete-all-btns">

            <div class="confirm-delete-container">
                <form action="{% url 'confirm_profile_delete' %}" method="post">
                    {% csrf_token %}
                    <div class="profile-edit-form-fields">
                        <button class="confirm-delete-profile-edit-button mt-3">Confirm Deletion</button>
                    </div>
                </form>
            </div>

            <div class="profile-edit-form-fields confirm-delete-home-btn">
                <a href="{% url 'index' %}">
                    <button class="confirm-delete-profile-edit-button mt-3">Back to Home</button>
                </a>
            </div>
        </div>
{% endblock %}