{% extends 'base.html' %}

{% block title %}Mythic Quest - Confirm Profile Delete{% endblock %}

{% block main_content %}
    <div class="profile-edit-container">
        <form action="{% url 'confirm_profile_delete' %}" method="post">
            {% csrf_token %}
            <div class="profile-edit-form-fields">
                <button class="btn-primary btn">Confirm Deletion</button>
            </div>
        </form>


        <div class="profile-edit-form-fields">
            <a href="{% url 'index' %}">
                <button class="btn-primary btn">Back to Home</button>
            </a>

        </div>
    </div>
    <style>
        .profile-edit-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: rgb(255, 172, 5);
            background: linear-gradient(54deg, rgb(239, 183, 85) 0%, rgb(148, 140, 74) 98%, rgb(173, 154, 15) 100%);
            border-radius: 40px;
            color: white;
            padding: 30px;
            width: 400px;
            margin: 20px;
            justify-content: space-between;
        }

    </style>
{% endblock %}