{% extends 'base.html' %}
{% load static %}

{% block title %}Mythic Quest - Delete Profile{% endblock %}

{% block background_image %}
    <style>
        body.background-image {
            background-image: url('{% static 'img/town-square.jpg' %} ');
        }
    </style>
{% endblock %}


{% block main_content %}
    <div class="profile-edit-container">
        <form action="{% url 'profile_delete' %}" method="post" class="profile-edit-form" enctype="multipart/form-data">

            {% csrf_token %}
            {% if profile_image %}
                <div class="profile-edit-image-container">
                    <img src="/media/{{ profile_image }}"
                         alt="Profile Image"
                         width="100px"
                         class="profile-image">
                </div>
            {% else %}
                <div class="profile-edit-image-container">
                    <img src="https://static.vecteezy.com/system/resources/previews/028/569/170/original/single-man-icon-people-icon-user-profile-symbol-person-symbol-businessman-stock-vector.jpg"
                         alt="Stock Profile Image"
                         width="100px" style="border-radius: 50%"
                         class="profile-image">
                </div>
            {% endif %}

            <div class="profile-edit-form-fields">

                {# ALL FORM FIELDS #}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{ username }}"
                           disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ email }}" disabled>
                </div>
                <div class="form-group">
                    {% if about %}
                        <label for="about">About:</label>
                        <textarea id="about" name="about" class="form-control" disabled>{{ about }}</textarea>
                    {% else %}
                        <label for="about">About:</label>
                        <textarea id="about" name="about" class="form-control"
                                  disabled>Nothing to see here...</textarea>
                    {% endif %}
                </div>
                <a href="{% url 'confirm_profile_delete' %}">
                    <button class="details-character-edit-button">Delete Profile</button>
                </a>
            </div>
        </form>
    </div>

    <style>
        .profile-edit-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparent;
            color: white;
            padding-top: 20px;
        }

        #username, #email, #about {
            width: 350px;
            opacity: 75%;
        }

        .profile-edit-form {
            width: 500px;
            margin-bottom: 20px;
        {#margin-top: 20px;#}

        }

        .profile-edit-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .profile-edit-form-fields {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile-image {
            width: 90px;
            height: 90px;
            overflow: hidden;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

    </style>
{% endblock %}