@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.right {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 320px 430px;
    background-position: center center;
    width: 25em;
    height: 25em;
    padding-left: 6.5625em;
    padding-right: 6.5625em;
    padding-top: 5.3125em;
    padding-bottom: 6.5625em;
    color: black;

    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    font-weight: 570;

}

.right div p {
    margin: 0;
    border-color: yellowgreen;
}

.details-make-red {
    margin-top: 25px !important;
    color: orangered;
    font-weight: bold;
}

.right .public-stats:nth-last-of-type(2) {
    margin-top: 25px;
}


.right div:nth-child(2) {
    margin-bottom: 30px;
}

.character-info {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.left-and-right-container {
    display: flex;
    flex-direction: row;
}

.left {
    max-width: 28.7%;
}

.left-2 {
    max-width: 28.7%;
}

.left-2 img {
    border: 3px groove goldenrod;
    box-shadow: rgb(72, 49, 2) 0 5px 15px;
    border-radius: 10px;
}

.left img {
    border: 3px groove goldenrod;
    box-shadow: rgb(72, 49, 2) 0 5px 15px;
    border-radius: 10px;
}

.details-char-custom-btns {
    padding-left: 7em;
}

.custom-color {
    background: rgb(255, 172, 5);
    background: linear-gradient(54deg, rgba(255, 172, 5, 1) 0%, rgba(89, 79, 7, 1) 98%, rgba(59, 53, 12, 1) 100%);
}

.details-character-stats {
    border: 2px solid grey;
    box-shadow: rgb(72, 49, 2) 0 0 3px;
}

.details-character-edit-button {
    border: 3px solid black;
    border-radius: 1.875em;
    background-color: #936100;
    color: whitesmoke;
    box-shadow: rgb(72, 49, 2) 0 5px 15px;
    width: 12em;
    height: 3.75em;
    font-size: 1em;
}

.details-character-edit-button:hover {
    font-weight: bold;
    background-color: #ffac05;
    transition: 0.1s;
    transform: scale(1.05);
    color: black;
}

.details-character-main {
    border-radius: 30px;
    border: 5px solid goldenrod;
    box-shadow: rgb(0, 0, 0) 5px 10px 20px;
    width: 60em;
}

.details-character-nickname {
    padding: 10px;
    margin-bottom: 10px;
    border-top: 3.5px solid black;
    border-bottom: 3.5px solid black;
    border-radius: 15px;
    background-color: #e1b239;
    color: black;
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 16px;
    box-shadow: rgb(101, 69, 3) 0 2px 4px;
}


/*@media screen and (max-width: 1050px) {*/
/*    .left-and-right-container {*/
/*        width: 50%;*/
/*    }*/

/*    .details-character-stats {*/
/*        width: 7em !important;*/
/*    }*/

/*}*/

@media screen and (max-width: 1100px) {
    .details-character-main {
        width: 30em;
        height: 29em;
    }

    .details-char-custom-btns {
        padding-left: 0 !important;
    }

    .character-info {
        gap: 0;
    }

    .left-and-right-container {
        width: 100% !important;
        flex-direction: column;
    }

    .left, .left-2 {
        max-width: 10em;
        width: 100%;
    }

    .right {
        font-size: 14px !important;
        width: 116%;
        background-image: none !important;
        padding-left: 0 !important;
        padding-right: 4.5625em !important;
        padding-top: 1em !important;
        padding-bottom: 3.5625em !important;
    }

    .details-character-stats {
        width: 100%;
    }

    .char-img-hide {
        display: none;
    }
}
