
.edit-character-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid #2D3338;
}

.edit-character-header-box {
    background-color: #C13D18;
    border-radius: 5px;
    width: 100%;
    font-family: "Kelly Slab", sans-serif;
}

.edit-character-gender-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.edit-character-form-info {
    width: 100%;
}

.edit-character-form-info form {
    display: flex;
    flex-direction: column;
    /*gap: 14px;*/
    margin-bottom: 14px;
    width: 100%;
}

.edit-character-header-box h2 {
    text-align: center;
    font-family: "Kelly Slab", sans-serif;
}

.edit-character-form-info form label {
    padding-top: 10px;
}

.edit-character-button {
    width: 100%;
}

.edit-character-container div ul li {
    color: red !important;
}