.index-without-character-container {
    gap: 6em !important;
}

.index-without-character-main {
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-radius: 5px;
}

.idx-no-char-p {
    margin: 0;
}

.index-no-chars-custom-header {
    background-color: #C73F19 !important;
    width: 100%;
    text-align: center;
}

.index-without-character-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

}

.idx-no-char-items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4em;
    width: 100%;
    height: 50vh;
    justify-content: space-between;
}

.index-custom-card-body-no-char {
    background-color: #190909;
    border-bottom: 2px black solid;
    border-right: 2px black solid;
    border-top: 2px black solid;

    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2.4em;
    height: 100%;
}

.index-enemy-characters-no-char {
    background-color: #190909;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-top: 2px black solid;

    width: 45%;
    height: 100%;
}

.idx-no-chard-custom-button {
    background-color: #E6B57D;
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
}

.idx-no-chard-custom-button:hover {
    background-color: #602727;
    color: white;
    border: 3.5px solid #dea10d;
    transition: opacity 0.2s ease-in-out;
    font-weight: bolder;
}

.no-char-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.22em;
}

.index-no-char-btn {
    display: block;
    border-radius: 6px;
    text-decoration: none !important;
    text-align: center;
    padding: 0.3em;
    width: 100%;
}

.index-each-enemy-no-char {
    border: 1px solid white;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.idx-no-chars-custom-search {
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
    background: rgb(255, 172, 5);
    background: linear-gradient(54deg, rgba(255, 172, 5, 1) 0%, rgba(89, 79, 7, 1) 98%, rgba(59, 53, 12, 1) 100%);
}

.idx-no-chars-details-btn {
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
    background: rgb(255, 172, 5);
    background: linear-gradient(54deg, rgba(255, 172, 5, 1) 0%, rgba(89, 79, 7, 1) 98%, rgba(59, 53, 12, 1) 100%);
}

.idx-no-chars-details-btn:hover {
    background-color: #602727 !important;
    color: white;
    border: 3.5px solid #dea10d;
    transition: opacity 0.2s ease-in-out;
    font-weight: bolder;
}

.index-each-enemy-no-char span:not(:nth-child(3)) {
    width: 32%;
}

.index-each-enemy-no-char span:nth-child(3) {
    width: 15%;
}

@media screen and (max-width: 800px) {
    .idx-no-char-items {
        flex-direction: column;
    }

    .index-custom-card-body-no-char,
    .index-enemy-characters-no-char {
        width: 100%;
    }

    .index-enemy-characters-no-char {
        display: none !important;
    }


}

@media screen and (max-width: 1100px) {

    .index-each-enemy-no-char span:nth-child(1),
    .index-each-enemy-no-char span:nth-child(3) {
        display: none !important;
    }
}

@media screen and (max-width: 1450px) {
    .idx-no-char-p {
        overflow: hidden;
    }

    .no-char-btn-container {
        justify-content: space-between;
    }


}

