@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.navbar-custom-height {
    height: 2.5rem;
    max-width: 80%;
}

/*.navigation-move-items-right {*/
/*    backdrop-filter: blur(20px);*/
/*    background-color: rgb(103, 115, 128) !important;*/
/*    text-align: left;*/
/*    width: 20%;*/
/*}*/

.navbar-main-color {
    background-color: rgb(52, 58, 64) !important;
}

.custom-navigation-color {
    width: 100%;
    z-index: 1;
}

.nav-player-gold {
    color: goldenrod;
}

.icon-dropdown:hover {
    background-color: rgba(255, 212, 102, 0.36) !important;
}


.navigation-site-name {
    font-family: "Josefin Sans", sans-serif;
    padding-top: 9px;
}

.navigation-site-name:hover {
    color: gold !important;
}

.navigation-form-authenticated {
    display: flex;
}

.nav-item form li {
    display: block;

}

.navigation-user-icon {
    color: white;
    margin-top: 5px;
    cursor: pointer;
}

@media screen and (max-width: 991.98px) {
    .nav-player-gold {
        display: none;
    }
}


@media only screen and (max-width: 991.30px) {
    .navigation-move-items-right {
        backdrop-filter: blur(20px);
        background-color: rgb(103, 115, 128) !important;
        text-align: left;
        width: 20%;
    }
}

