.profile-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    color: white;
    padding-top: 20px;
}

#username, #email, #about {
    width: 18.875em;
    height: 1.8em;
    border-radius: 10px;
    opacity: 75%;
}

.profile-edit-form {
    width: 29.25em;
    margin-bottom: 20px;

}

.profile-edit-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-edit-form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 4.625em;
    height: 4.625em;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (max-width: 1000px) {
    .profile-edit-form {
        width: 27em;
    }
}


@media screen and (max-width: 700px) {
    .profile-edit-form {
        width: 25em;
    }
}