.signup-card-body {
    background-color: #190909;
    display: flex;
    flex-direction: column;
}

.signup-h3 {
    display: flex;
    justify-content: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border: 2px solid black;
    border-radius: 5px;
}

.signup-container div ul li {
    color: red !important;
}

.signup-custom-button {
    background-color: #E6B57D;
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
}

.signup-custom-button:hover {
    background-color: #602727;
    color: white;
    border: 3.5px solid #dea10d;
    transition: opacity 0.2s ease-in-out;
    font-weight: bolder;
}

.signup-custom-button:active {
    background-color: #a93434;
}

.signup-custom-card {
    width: 100%;
}

.signup-custom-form p {

}

.signup-custom-form #username,
.signup-custom-form #email,
.signup-custom-form #pass1,
.signup-custom-form #pass2,
.signup-custom-form #about,
.signup-custom-form #profile_image {
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
    background: rgb(255, 172, 5);
    background: linear-gradient(54deg, rgba(255, 172, 5, 1) 0%, rgba(89, 79, 7, 1) 98%, rgba(59, 53, 12, 1) 100%);
}

.signup-custom-form #username:focus,
.signup-custom-form #email:focus,
.signup-custom-form #pass1:focus,
.signup-custom-form #pass2:focus {
    border: 3.5px solid rgb(128, 198, 255) !important;
}

@media screen and (max-width: 600px) {
    .signup-container {
        width: 70%;
    }

}


@media screen and (max-width: 800px) {
    .signup-container {
        width: 60%;
    }

}

@media screen and (max-width: 1200px) {
    .signup-container {
        width: 50%;
    }

}
