.signin-card-body {
    background-color: #190909;
}

.signin-h3 {
    display: flex;
    justify-content: center;
}

.sing-in-custom-border-golden {
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
}

.sing-in-custom-border-golden:focus {
    color: black !important;
}

.sign-in-custom-color {
    background: rgb(255, 172, 5);
    background: linear-gradient(54deg, rgba(255, 172, 5, 1) 0%, rgba(89, 79, 7, 1) 98%, rgba(59, 53, 12, 1) 100%);
}

.signin-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}

.signin-container div ul li {
    color: red !important;

}

.signin-custom-button {
    background-color: #E6B57D;
    color: black;
    border: 3.5px solid darkgoldenrod;
    font-weight: bold;
}

.signin-custom-button:hover {
    background-color: #602727;
    color: white;
    border: 3.5px solid #dea10d;
    transition: opacity 0.2s ease-in-out;
    font-weight: bolder;
}

.signin-custom-button:active {
    background-color: #a93434;
}

@media screen and (max-width: 1200px) {
    .signin-container {
        width: 40%;
    }

}

@media screen and (max-width: 800px) {
    .signin-container {
        width: 45%;
    }

}

@media screen and (max-width: 600px) {
    .signin-container {
        width: 70%;
    }

}

