<div class="d-flex flex-column  ml-auto">
    <div class="mb-2">
        <a href="{% url 'index' %}">
            <button class="details-character-edit-button">Back to Home</button>
        </a>
    </div>
    <div class="mb-2">
        <a href="{% url 'tavern' %}">
            <button class="details-character-edit-button">Tavern</button>
        </a>
    </div>
    <div class="mb-2">
        <a href="{% url 'dungeon' %}">
            <button class="details-character-edit-button">Dungeon</button>
        </a>
    </div>
</div>