{% extends 'base.html' %}
{% load static %}

{% block title %}Mythic Quest - Potions Shop{% endblock %}

{% block background_image %}
    <style>
        .background-image {
            background-image: url('{% static 'img/potions/potions-background-image2.jpeg' %}');
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="potions-everything-container d-flex justify-content-center flex-row">
        <div class="d-flex potions-container align-self-center">

            {% for item in all_items %}
                <div class="potions-card d-flex potions-card">
                    <div id="tooltip">
                        <span id="tooltipText">BUY ME OR SUFFER!</span>
                        <img class="card-img-top" src="{% static item.image_path %}" alt="Card image cap">
                    </div>
                    <div class="potions-card-body">
                        <h5 class="card-title potions-name">{{ item.name }}</h5>

                        <p class="card-text text-white potions-description">{{ item.description }}</p>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="hidden" name="buy_item" value="1">

                        {% if item.effect == 'EXP Boost' %}
                            <button type="submit" name="experience_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "Max Health Boost" %}
                            <button type="submit" name="max_health_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "Strength Boost" %}
                            <button type="submit" name="strength_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "Agility Boost" %}
                            <button type="submit" name="agility_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "Damage Boost" %}
                            <button type="submit" name="damage_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "Armor Boost" %}
                            <button type="submit" name="armor_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}

                        {% if item.effect == "All Stats Boost" %}
                            <button type="submit" name="ultra_potion" class="potions-custom-button btn m-2">
                                Buy Now <br> Price: {{ item.price }} Gold
                            </button>
                        {% endif %}
                    </form>


                </div>
            {% endfor %}

        </div>
        {# Buttons #}
        <div class="mb-1 p-2 potions-home-button">
            {% include 'items/items_buttons.html' %}
        </div>


    </div>
    {% if messages %}
        <ul class="messages list-unstyled h2 bg-dark fade show">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }} potions-smaller-error" {% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if messages %}
        <script>
            setTimeout(function () {
                window.location.href = "{% url 'index' %}";
            }, 3000);
        </script>
    {% endif %}

    <script>
        const potionButtons = document.querySelectorAll('.potions-custom-button');

        potionButtons.forEach(button => {
            button.addEventListener('mouseenter', () => {
                const potionsCard = button.closest('.potions-card');
                potionsCard.style.backgroundColor = '#c77a3d';
                potionsCard.style.transform = 'scale(1.11)';
                potionsCard.style.transition = 'transform 0.3s ease';
                potionsCard.style.border = '3px solid rgba(248, 226, 149, 0.93)';
            });

            button.addEventListener('mouseleave', () => {
                const potionsCard = button.closest('.potions-card');
                potionsCard.style.backgroundColor = '';
                potionsCard.style.transform = '';
                potionsCard.style.transition = 'transform 0.3s ease';
                potionsCard.style.border = '3px solid rgba(231, 181, 11, 0.93)';
            });
        });
    </script>

{% endblock %}