{% extends 'base.html' %}
{% load static %}

{% block title %}Mythic Quest - Delete Character{% endblock %}

{% block background_image %}
    <style>
        body.background-image {
            background-image: url('{% static 'img/town-square.jpg' %} ');
            background-size: cover;
            background-position: center;
            overflow: hidden;
            position: relative;
        }

        body.background-image::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block main_content %}
    <div class="edit-character-container">
        <div class="edit-character-header-box w-100 d-flex justify-content-center align-items-center p-2">
            <h4 class="m-0">Delete Your Character</h4>
        </div>

        <div class="p-2">
            <div class="edit-character-form-info">
                <p>Are you sure you want to delete your character "{{ object.nickname }}"?</p>
                <p>He will be lost forever!</p>

                <form method="post" action="{% url 'delete_character' pk=object.id %}" class="edit-character-form">
                    {% csrf_token %}
                    <div class="delete-character-buttons">
                        <button type="submit" class="btn custom-button edit-character-button">Yes, Delete</button>
                        <a href="{% url 'details_character' pk=object.id %}"
                           class="btn custom-button edit-character-button">Back to My Character</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}