{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block title %}Mythic Quest - View Character{% endblock %}

{% block main_content %}
    {% if character %}
        <div class="container custom-color p-4 details-character-main">
            <div class="character-info text-white">
                <div class="left">
                    <h5 class="details-character-nickname">{{ character.nickname }}</h5>
                    <img src="{% static character.image_path %}" alt="{{ character.nickname }} Image"
                         class="img-fluid">
                    <div class="px-2 d-flex justify-content-between details-character-stats">
                        <p>Rating:</p>
                        <p>{{ character_rating|get_character_rating }}</p>
                    </div>
                </div>

                <div class="right">

                    {% for stat, value in character_stats.items %}
                        <div class="px-2 d-flex justify-content-between details-character-stats">
                            <p>{{ stat|capfirst }}:</p>
                            <p>{{ value }}</p>
                        </div>
                    {% endfor %}

                </div>

                {# Character Buttons #}
                {% include 'characters/character_buttons.html' %}

            </div>
        </div>
    {% else %}
        <p>No character found.</p>
    {% endif %}

    <style>
        .right {
            background-image: url(' {% static 'img/details-banner.png' %}');
        }
    </style>

{% endblock %}
